table{
    float: left;
    font-size: 30px;
    font-weight: bold;
}
table, tr, td{
    border: 1px solid black;
}
.left{
    background-color: orange;
    width: 20%;
    height: 950px;
}
.down{
    background-color: blue;
    width: 80%;
    height: 100px;
}
.top{
    background-color: blue;
    width: 80%;
    height: 100px;
}