* {
    margin: 0;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 30px;
    font-weight: bold;
}
.header{
    background-color: blue;
    width: 100%;
    height: 100px;
}
.main{
    height: 800px;
    display: flex;
}
.left{
    background-color: orange;
    width: 33%;   
    height: 800px; 
}
.middle{
    background-color: white;
    width: 34%; 
}
.right{
    background-color: orange;
    width: 33%;   
    height: 800px;
}
.fotter{
    background-color: blue;
    width: 100%;
    height: 65px;
}